# ==========================
# Terraform
# ==========================
**/.terraform/*
*.tfstate
*.tfstate.*
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraform.lock.hcl

# ==========================
# Terraform Variables
# ==========================
*.tfvars
*.tfvars.json

# ==========================
# Sensitive Files
# ==========================
*.pem
*.key
*.p12

# ==========================
# Environment Files
# ==========================
.env
.env.*

# ==========================
# VS Code
# ==========================
.vscode/

# ==========================
# IntelliJ
# ==========================
.idea/

# ==========================
# macOS
# ==========================
.DS_Store

# ==========================
# Windows
# ==========================
Thumbs.db
Desktop.ini

# ==========================
# Logs
# ==========================
*.log

# ==========================
# Python
# ==========================
__pycache__/
*.pyc

# ==========================
# Node
# ==========================
node_modules/

# ==========================
# Helm
# ==========================
*.tgz

# ==========================
# Docker
# ==========================
docker-compose.override.yml